# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IntelliJ IDEA
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/

# Python tooling
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# ML artifacts
*.pt
*.pth
*.onnx

# Datasets
datasets/